// BREADCRUMBS
// ------------------------------------------------------------------------------

.breadcrumbs {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  font-size: .8em;
  color: $dark-gray;
}
