// BUTTONS
// ------------------------------------------------------------------------------

#buttons {
  width: 100%;
  height: 50px;
  background: $kaki-groen url($image-buttons-backgound) repeat-x;
  text-align: center;

  ul li a:hover {
    color: #5b7115;
  }
}

#buttons ul li {
  display: inline;
  margin: 0 10px;
}

#buttons ul li a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
