// BUTTONS
// ------------------------------------------------------------------------------

#buttons {
  background: $kaki-groen url($image-buttons-backgound) repeat-x;
  height: 50px;
  text-align: center;
  width: 100%;

  ul li a:hover {
    color: #5b7115;
  }

  ul li {
    display: inline;
    margin: 0 10px;
  }

  ul li a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
}
