//
// 6.14 Comments
// -----------------------------------------------------------------------------
//

.comments-area {
  margin: 48px auto;
  max-width: 474px;
  padding: 0 10px;
}

.comment-reply-title,
.comments-title {
  font: 900 16px/1.5 Lato, sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.comment-list {
  list-style: none;
  margin: 0 0 48px;

  .reply {
    margin-top: 24px;
  }
}

.comment-author {
  font-size: 14px;
  line-height: 1.7142857142;
  position: relative;

  .fn {
    font-weight: 900;
  }

  a {
    color: #2b2b2b;
  }

  .avatar {
    border: 1px solid rgba(0, 0, 0, .1);
    height: 18px;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 0;
    width: 18px;
  }
}

.comment-list .reply,
.comment-metadata {
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
}

.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a {
  color: #767676;
}

.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
  color: #41a62a;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 24px;
  padding-top: 24px;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
  border-top: 0;
}

.bypostauthor > article .fn:before {
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px;
}

.says {
  display: none;
}

.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply,
.comment-metadata {
  padding-left: 30px;
}

.comment-edit-link {
  background: url('images/icon-edit.png') no-repeat;
  color: $grijs;

  font: {
    size: .9em;
    weight: normal;
  }

  margin: {
    bottom: 20px;
    right: 10px;
  }

  margin-left: 10px;
  padding-left: 18px;
}

.comment-edit-link:before {
  // background: url(images/icon-edit.png) no-repeat left 5px;
  // padding-left: 18px;
  // font-size: .9em;
  // color: #999;
  // font-weight: normal;
}

.comment-reply-link:before,
.comment-reply-login:before {
  // content: "\f412";
  margin-right: 2px;
}

.comment-content {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list .children {
  list-style: none;
  margin-left: 15px;
}

.comment-respond {
  margin-bottom: 24px;
  padding: 0;

  h3 {
    margin: {
      bottom: 24px;
      top: 0;
    }
  }
}

.comment .comment-respond {
  margin-top: 24px;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
  color: #767676;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
  font-size: 14px;
  line-height: 1.7142857142;
}

.no-comments {
  font: {
    size: 16px;
    weight: 900;
  }

  line-height: 1.5;
  margin-top: 24px;
  text-transform: uppercase;
}

.comment-form label {
  display: block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
  font-size: 12px;
  line-height: 1.5;
}

.required {
  color: $rood;
}

.comment-reply-title small a {
  color: #2b2b2b;
  float: right;
  height: 24px;
  overflow: hidden;
  width: 24px;
}

.comment-reply-title small a:hover {
  color: #41a62a;
}

.comment-reply-title small a:before {
  content: '\f405';
  font-size: 32px;
}

.comment-navigation {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 48px;
  text-transform: uppercase;

  .nav-previous {
    display: inline-block;

    a {
      margin-right: 10px;
    }
  }

  .nav-next {
    display: inline-block;
  }
}

#comment-nav-above {
  margin: {
    bottom: 0;
    top: 36px;
  }
}

// added by Joris end

// Comments link

.entry-heading .comments-link a {
  background: #eee url('images/comment-bubble.png') no-repeat;
  color: $dark-gray;
  float: right;

  font: {
    size: 19px;
    weight: normal;
  }

  height: 36px;
  line-height: 35px;
  overflow: hidden;
  padding: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 1.5em;
  width: 43px;
}

.entry-heading .comments-link a:hover,
.entry-heading .comments-link a:focus,
.entry-heading .comments-link a:active {
  background-color: #bdd732;
  color: #fff;
  color: rgba(255, 255, 255, .8);
}

.entry-heading .comments-link .leave-reply {
  visibility: hidden;
}

.entry-thumbnail img {
  float: left;
  margin: 0 25px 25px 0;
}

.entry-heading {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

span .entry-date {
  background: url('images/icon-clock.png') no-repeat left 5px;
  padding-left: 18px;
  font-size: .9em;
  color: $grijs;
  font-weight: normal;
}

.reply {
  background: url('images/icon-comments.png') no-repeat;
  color: $grijs;
  font-size: .9em;
  font-weight: normal;

  margin: {
    bottom: 20px;
    right: 10px;
  }

  padding-left: 18px;
}

.comment-meta {
  color: #999;

  font: {
    size: .9em;
    weight: normal;
  }

  margin: {
    bottom: 20px;
    right: 10px;
  }

  left: 5px;
  padding-left: 18px;
}
