.event-date {
  color: $header-white;

  font: {
    size: 14px;
    weight: bold;
  }

  margin: 0 0 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 45px;
}

ul.event-list-view,
ul.single-event-view {
  list-style: outside none none !important;
  margin: 1.5em 0 2em;
  padding: 0;
}

li.event {
  clear: both;
  margin: 0 .5em 2.5em;
  zoom: 1;
}

.event-list .multi-date {
  background: url('images/date-separator.png') center no-repeat;
}

.event-list .start-date,
.event-list .end-date {
  text-align: center;
  width: 3.2em;
  border-radius: 5px;
  background-color: $donker-groen;
}

.event-list .start-date {
  float: left;
}

.event-list .end-date {
  margin-left: 3.8em;
}

.event-weekday {
  font-size: .8em;
  text-transform: uppercase;
}

.event-day {
  font: {
    size: 1.3em;
    weight: bold;
  }

  line-height: 1em;
  margin-bottom: -.2em;
}

.event-month {
  font-size: 1em;
  line-height: 1em;
  padding: .4em 0;
  text-transform: uppercase;
}

.event-year {
  font-size: .8em;
  letter-spacing: .1em;
  line-height: .8em;
  padding-bottom: .5em;
}

.event-info {
  display: block;
}

.multi-day {
  margin: 0 0 0 7.5em;
}

.single-day {
  margin: 0 0 0 3.8em;
}

.event-title h3 {
  clear: none;
  margin: 0;
  padding: 0;
}

.event-time {
  font-weight: bold;
  padding-right: .8em;
}

.event-cat {
  font-size: .95em;
}

.event-details {
  // font-size: .8em;
}

div .feed {
  display: block;

  a * {
    vertical-align: middle;
  }

  img {
    margin: 0 5px 0 2px;
  }
}

div.filterbar,
div.filterbar div {
  clear: both;
  margin: 1em 0;
  vertical-align: middle;
}

div.filterbar select.dropdown,
div.filterbar ul.hlist,
div.filterbar a.link {
  margin: 0 3px;
  vertical-align: middle;
}

div.filterbar ul.hlist li {
  float: left;
  list-style: none;
  margin: 0;
}

div.filterbar ul.hlist li + li:before {
  content: '|';
  padding: 0 1px;
}
