// FOOTER
// ------------------------------------------------------------------------------

#footer {
  background: $darker-red;
  color: $header-white;
  overflow: auto;
  padding: 30px 0;
  width: 100%;

  a {
    color: inherit;
  }

  .box {
    float: left;
    margin: 0 50px 20px 0;
    padding-right: 50px;
  }

  p {
    font-size: .8em;
    line-height: 1.5em;
    margin-bottom: 1.2em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .signoff {
    border-top: 1px solid $bruin;
    clear: both;
    color: $bruin;
    padding-top: 10px;
    width: 100%;
  }
}

.right {
  float: right;

  img {
    display: block;
    float: right;
  }

  ul li {
    line-height: 1.2em;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: $header-white;
      font-size: .8em;
    }
  }

  .signoff p {
    margin-bottom: 0;
  }
}
