// GENERAL STYLES
// ------------------------------------------------------------------------------

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

b, strong {
  font-weight: bold;
}