// HEADER
// ------------------------------------------------------------------------------

#header {
  background: $header-white;
  padding: 20px 0;
  width: 100%;
}

.logo {
  float: left;
  height: 80px;
  border: 0;
  width: auto;
  margin-right: 30px;
}

.titel {
  float: left;
  max-width: 600px;

  h1 {
    font-size: 1.5em;
    margin-bottom: .5em;
  }
}

.sn_search {
  display: inline-block;
  float: right;
  width: 200px;
  height: 25px;
  border: 1px solid #eaeaea;
  padding: 0 10px;
  margin-top: 18px;
  background: #fff url($image-search) no-repeat 170px center;

  &:focus {
    border: 1px solid #bdd732;
  }
}