// HEADINGS
// ------------------------------------------------------------------------------

h1 {
  font-size: 2em;
  margin-bottom: 1.3em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;

  .entry-cat {
    clear: both;
    color: $dark-gray;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .3em;
  }
}

h5 {
  color: #bdd732;
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 1.2em;
}
