// Images
// ------------------------------------------------------

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;

  margin: {
    left: auto;
    right: auto;
  }
}

figure.wp-caption .alignleft,
img.alignleft {
  margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
  margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
  margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
  margin: 5px 0 5px 10px;
}

img.aligncenter {
  margin: 5px auto;
}

img.alignnone {
  margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  color: $image-black;

  font: {
    size: 18px;
    style: italic;
    weight: 300;
  }

  margin: 0 0 24px;
}
