// BREADCRUMBS
// ------------------------------------------------------------------------------

// Imports
@import 'Variables';

// Classes
.breadcrumbs {
  border-bottom: 1px solid $white;
  color: $gray;
  font-size: .8em;
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 100%;
}
