// BUTTONS
// ------------------------------------------------------------------------------
// Includes
@import 'Variables';

// Classes
#buttons {
  width: 100%;
  height: 50px;
  background: $military-green url('images/buttons-bg.png') repeat-x;
  text-align: center;
}

#buttons ul li {
  display: inline;
  margin: 0 10px;
}

#buttons ul li a {
  color: $lighter-white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

#buttons ul li a:hover {
  color: $darker-military-green;
}
