// FOOTER
// ------------------------------------------------------------------------------
// Includes
@import 'Variables';

#footer {
  background: $darker-red;
  color: $lighter-white;
  overflow: auto;
  width: 100%;
  padding: 30px 0;

  .box {
    float: left;
    margin: 0 50px 20px 0;
    padding-right: 50px;

    a {
      color: inherit;
    }
  }

  .right {
    float: right;

    img {
      display: block;
      float: right;
    }
  }

  #footer p {
    font-size: .8em;
    line-height: 1.5em;
    margin-bottom: 1.2em;
  }

  #footer ul li {
    line-height: 1.2em;
  }

  #footer ul li a {
    color: $lighter-white;
    font-size: .8em;
  }

  #footer .signoff {
    clear: both;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid $brown;
    color: $brown;
  }

  #footer .signoff p {
    margin-bottom: 0;
  }
}
