// GENERAL STYLES
// ------------------------------------------------------------------------------
// Includes
@import 'variables';

// Classes
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  background: $darker-red;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

b,
strong {
  font-weight: bold;
}
