// HEADINGS
// ------------------------------------------------------------------------------

h1 {
  font-size: 2em;
  margin-bottom: 1.3em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h5 {
  font-size: 0.9em;
  margin-bottom: 1.2em;
  font-weight: 600;
  color: #bdd732;
}