// HEADINGS
// ------------------------------------------------------------------------------
// Includes
@import 'Variables';

// Classes
h1 {
  font-size: 2em;
  margin-bottom: 1.3em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h5 {
  color: $yellow;

  font: {
    size: .9em;
    weight: 600;
  }

  margin-bottom: 1.2em;
}
