// HEADER
// ------------------------------------------------------------------------------

#header {
	width: 100%; 
	background: #fff; 
	padding: 20px 0;
}

.logo {
	float: left; 
	height: 80px; 
	width: auto; 
	border: 0; 
	margin-right: 30px;
}

.titel {
	float:left; 
	max-width: 600px;
}

.titel h1 {
	font-size: 1.5em; 
	margin-bottom: 0.5em;
}

.sn_search {
	display: inline-block; 
	float: right; 
	width: 200px; 
	height: 25px; 
	border: 1px solid #eaeaea; 
	padding: 0 10px; margin-top: 
	18px; background: 
	url('images/icon-search.png') no-repeat 170px center; 
	background-color : #fff;
}

.sn_search:focus {
	border: 1px solid #bdd732;
}
