// Navigation Menu
// ----------------------------------------

// Assistive text

// .assistive-text,
// .site .screen-reader-text {
//		position: absolute !important;
//		clip: rect(1px, 1px, 1px, 1px);
// }

// .main-navigation .assistive-text:focus {
// 		background: #fff;
//		border: 2px solid #333;
//		border-radius: 3px;
//		clip: auto !important;
//		color: #000;
//		display: block;
//		font-size: 12px;
//		padding: 12px;
//		position: absolute;
//		top: 5px;
//		left: 5px;
// 		z-index: 100000; /* Above WP toolbar */
// }

// .main-navigation {
//		margin-top: 24px;
//		margin-top: 1.714285714rem;
//		text-align: center;
// }

// .main-navigation li {
//		margin-top: 24px;
//		margin-top: 1.714285714rem;
//		font-size: 12px;
//		font-size: 0.857142857rem;
//		line-height: 1.42857143;
// }

// .main-navigation a {
//		color: #5e5e5e;
// }

// .main-navigation a:hover,
// .main-navigation a:focus {
//		color: #21759b;
// }

// .main-navigation ul.nav-menu,
// .main-navigation div.nav-menu > ul {
//		display: none;
// }

// .main-navigation ul.nav-menu.toggled-on,
// .menu-toggle {
//		display: inline-block;
// }


// includes
@import "Variables";

.main-navigation {
  background: $lighter-white;
  border: 2px solid #333;
  border-radius: 3px;
  clip: auto !important;
  color: #000;
  display: block;
  font-size: 12px;
  padding: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100001; // Above WP toolbar
}

#main-nav {
  width: 100%;
  min-height: 50px;
  background: #748d26 url('images/buttons-bg.png') repeat-x;
  text-align: center;
  height: 50px; // set to the height you want your menu to be

  ul {
    margin: 0;
    padding: 0; // only needed if you have not done a CSS reset
  }

  li {
    display: block;
    float: left;
    line-height: 50px;   // this should be the same as your #main-nav height
    height: 50px;        // this should be the same as your #main-nav height
    margin: 0;
    padding: 0;          // only needed if you don't have a reset
    position: relative;  // this is needed in order to position sub menus
  }
}

#main-nav li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: $lighter-white;

  font: {
    size: .95em;
    weight: 700;
  }
  
  text-decoration: none;
  text-transform: uppercase;

}

#main-nav li:hover > a {
  color: #4e620f;
}

#main-nav ul ul {
  // this targets all sub menus
  display: none; // hide all sub menus from view
  position: absolute;
  top: 35px; // this should be the same height as the top level menu -- height + padding + borders
}

#main-nav ul ul li {
  // this targets all submenu items
  float: none; // overwriting our float up above
  width: 150px; // set to the width you want your sub menus to be. This needs to match the value we set below
  z-index: 50000;
  color: #000;
  background: #748d26;
  text-transform: lowercase;
  border-bottom: 1px solid #5f751b;
  font-size: .8em;
}

#main-nav ul ul li a {
  // target all sub menu item links
  padding: 5px 10px; // give our sub menu links a nice button feel
  height: auto;
}

#main-nav ul li:hover > ul {
  display: block; // show sub menus when hovering over a parent
}

#main-nav ul ul li ul {
  // target all second, third, and deeper level sub menus
  left: 150px; // this needs to match the sub menu width set above -- width + padding + borders
  top: 0;      // this ensures the sub menu starts in line with its parent item
}

#main-nav .current_page_item > a,
#main-nav .current_page_ancestor > a,
#main-nav .current_page_parent > a {
  color: #4e620f;
  font-weight: bold;
}

#main-nav li.first {
  background:url('images/home.png') no-repeat center 12px;
  margin: 0 10px;
}

#main-nav li.first:hover {
  background:url('images/home-hover.png') no-repeat center 12px;
}
