//
// Variables
// -----------------------------------------------------------------------

// Colors
$lighter-gray:          #767676;
$light-gray:            #999;
$gray:                  #666;
$white:                 #f5f5f5;
$lighter-white:         #fff;
$light-white:           #eaeaea;
$yellow:                #bdd732;
$military-green:        #748d26;
$darker-military-green: #5b7115;
$brown:                 #80634c;
$darker-red:            #572600;
$black:                 #220e10;
