// VARIABLES
// ------------------------------------------------------------------------------
$meloen-groen:        #92b484;
$licht-groen:         #bdd732;
$kaki-groen:          #748d26;
$donker-groen:        #507705;
$rood:                #c0392b;
$darker-red:          #572600;
$zwart:               #000;
$image-black:         #220e10;
$grijs:               #999;
$dark-gray:           #666;
$bruin:               #80634c;
$main-nav-green:      #5f751b;
$content-dark-green:  #4e620f;
$header-white:        #fff;
$another-white:       #e5e5e5;
$search-white:        #eaeaea;

$image-buttons-backgound: 'images/buttons-bg.png';
$image-search:            'images/icon-search.png';
$image-home:              'images/home.png';
$image-home-hover:        'images/home-hover.png';
